.mainPage_article__container {
  width: 800px;
  min-height: 200px;
  margin: 15px auto;
  padding: 16px 10px;
  border-radius: 10px;
  border: 1px solid #aaaaaa;
  box-sizing: border-box;
}

.mainPage_article__top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #61bb61;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.article-author-info div {
  color: #61bb61;
}

.article-author-info small {
  color: #aaaaaa;
}

.article-author svg {
  flex-shrink: 0;
}

.mainPage_article__container a {
  text-decoration: none;
}

.mainPage_article__header {
  margin: 20px 0;
  font-size: 28px;
  line-height: 32px;
  color: #000000;
  text-align: left;
}

.mainPage_article__container p {
  color: #aaaaaa;
  margin: 25px 0;
}

.like-button {
  margin: 0;
}

.article-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.article-author {
  display: flex;
  align-items: center;
  gap: 8px;
  color: #61bb61;
}

.article-author-info {
  display: flex;
  flex-direction: column;
  gap: 3px;
}

.article-author-info small {
  color: #aaaaaa;
}

.author-avatar {
  width: 24px !important;
  height: 24px !important;
  min-width: 24px;
  min-height: 24px;
  max-width: 24px;
  max-height: 24px;
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
