.like-button {
  height: 40px;
  border-radius: 5px;
  padding: 8px 16px;
  background-color: white;
  color: #61bb61;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 8px;
  border: 1px solid #61bb61;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.imageIcon {
  width: 16px;
  height: 16px;
  border-radius: 16px;
  padding-right: 5px;
}
