.navigation {
  width: 100%;
  background: #ffffff;
}

.navigation_container {
  height: 65px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #0000001a;
}

.navigation_header {
  color: #5cb85c;
  font-size: 24px;
  font-weight: 700;
  text-decoration: none;
  padding-left: 100px;
}

.navigation_links {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-right: 100px;
}

.navigation_links a {
  min-height: 40px;
  padding: 10px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: #333333;
  white-space: nowrap;
}

.navigation_links a:hover {
  color: #61bb61;
}

.navigation_links svg {
  display: block;
  flex-shrink: 0;
}