.paginationButton {
  width: 41px;
  height: 44px;
  opacity: 1;
  padding: 12px 16px;
  border: solid 1px #61bb61;
  font-weight: 600;
  color: #61bb61;
  background-color: white;
}

.paginationButton.active {
  background-color: #61bb61;
  color: white;
}
