.populartags_container {
width: 770px;
height: 88px;
margin: 15px auto;
border: 1px solid #aaaaaa;
padding: 16px;
gap: 12px;
opacity: 1;
border-radius: 10px;
}

.populartags_container h2 {
font-size: 20px;
line-height: 24px;
letter-spacing: 0%;
vertical-align: middle;
}